/*MAIN*/
.encabezado {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0 0 0 / .2), rgba(0 0 0 / .2)), url(../assets/img/diversidad_intelectual.jpg) center no-repeat;
  background-size: cover;
}
.encabezado__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 40px;
}
.encabezado__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
  color: var(--text);
}
.encabezado__line {
  width: 50px;
  height: 2px;
  background-color: var(--tertiary);
}
.encabezado__text {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color: var(--text);
}

/* SERVICIOS */
.servicios { 
  width: 100%;
  padding: 50px 0;
}
.servicios__container {
  width: 100%;
  padding: 0 40px;
}
.servicios__content {
  display: flex;
  flex-direction: column;
}
.servicios__img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  object-position: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
.servicios__title{
  font-size: 30px;
}
.servicios__text {
  font-size: 16px;
}
.servicios__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 160px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #1F4172;
  color: white;
  border: none;
  border-radius: 5px;
}


/* UBICACIONES */
.ubicaciones {
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg);
}
.ubicaciones__container {
  width: 100%;
  padding: 0 40px;
}
.ubicaciones__content {
  display: flex;
  flex-direction: column;
}
.ubicaciones__img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;

}
.ubicaciones__title{
  font-size: 30px;
}
.ubicaciones__text {
  font-size: 16px;
}
.ubicaciones__btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  width: 100px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #1F4172;
  color: white;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 800px){
  .encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezado__container {
    width: 1200px;  
  }
  .encabezado__title {
    font-size: 80px;
  }
  .encabezado__line {
    width: 80px;
    height: 3px;
  }
  .encabezado__text {
    font-size: 22px;
  }

  /* UBICACiONES */
  .servicios{
    display: flex;
    justify-content: center;
  }
  .servicios__container {
    width: 1200px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .servicios__img {
    width: 550px;
    margin-bottom: 0px;
  }

  /*UBICACIONES*/
  .ubicaciones{
    display: flex;
    justify-content: center;
  }
  .ubicaciones__container {
    width: 1200px;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .ubicaciones__img {
    width: 550px;
    aspect-ratio: 3/2;
    object-fit: contain;
    object-position: center;
  }
}